/* ======================================================================================================================
コメント
====================================================================================================================== */

html {
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

form{
    text-align:center;
}

/* ======================================================================================================================
コメント
====================================================================================================================== */

h1 {
    text-align: center;
}

header p {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

/* ======================================================================================================================
コメント
====================================================================================================================== */

section {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
}

article {
    flex-basis: 33%;
}

section p {
    margin: 5px 0;
}

section ul {
    margin-top: 0;
}

h2 {
    font-size: 2.5rem;
    letter-spacing: -5px;
    margin-bottom: 10px;
}

.imageWrapper {
    flex: 1;
}

.imageWrapper img {
    width: 100%;
}

/* ======================================================================================================================
コメント
====================================================================================================================== */

.sort {
    padding: 0;
    width: 94%;
    margin: 3% auto 20px;
    letter-spacing: -.4em;
    font-size: 0;
    text-align: center;
}

.sort li {
    display: inline-block;
    font-size: 14px;
    padding: 2px 12px;
    margin: 0 2% 12px 0 !important;
    border: 1px solid #cccccc;
    color: #000000;
    border-radius: 6px;
    cursor: pointer;
    transition: .4s;
}

.sort li:last-child {
    border: 1px solid #ff0000;
    color: #ff0000;
}

.sort li:hover {
    opacity: .6;
}

.list {
    position: relative;
}

.list__notxt {
    display: block;
    padding: 0 0 20px;
    display: none;
}


.search-result{
    flex-basis:100%;
}
